.animationProgress {
    height: 100%;
    width: 10%;
    background:  url('../../public/curtain.jpg') 100%;
    background-size: contain;
    display: flex;
    position: relative;
}

.animationScreenContent {
    text-align: center;
    height: 100%;
    width: 80%;
}

.column {
    float: left;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.row {
    width: 100%;
}

.rowContent {
    align-items: center;
    width: 100%;
    text-align: center;
    
}

.votingUsersStatusesBox {
    align-items: center;
    width: 100%;
}

.progressBar {
    width: 100%;
    height: 100%;
    background-color: #111111;    
    align-items: center;
    z-index: 1;
    position: relative;
}

.progressBarLabel {
   position: absolute;
   top: 45%;
   width: 100%;
   text-align: center;
   margin: auto;
   display: inline-block;
   z-index: 2;
}