h1 {
    color: #27aedb;
    text-align: center;
    /*display: inline-block*/
}

html {
    height: 100%;  
}

body {
    width: 100%;
    height: 100%;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

#root {
    width: 100%;
    height: 100%;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    
}

.flexBox {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.flexBox .row {
    /*border: 1px dotted grey;*/
}

.flexBox .row.header {
    flex: 0 1 auto;
    /* The above is shorthand for:
    flex-grow: 0,
    flex-shrink: 1,
    flex-basis: auto
    */
}

.flexBox .row.content {
    flex: 1 1 auto;
    height: 60%;
}

.flexBox .row.footer {
    flex: 0 1 40px;
}

.votescreen {
    background-color: darkslategray;
    height: 100%;
}

.nomargin {
    margin: 0px, 0px, 0px, 0px;
}

.centered {
    text-align: center;
}