.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
.navbar li {
    float: left;
  }
  
.navbar li:last-child {
    border-right: none;
  }
  
.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
.navbar li a:hover:not(.active) {
    background-color: #111;
}
  
.active {
   background-color: #4CAF50;
 }

 .rightItem {
    float:right
 }

 .loginScreen {
     width: 100%;
     height: 100%;
     text-align: center;
     vertical-align: middle;
 }

 .loginformContainer {
    display: inline-block;
 }

 .loginBox {
     width: 300px;
     padding-left: 10px;
     padding-top: 20px;
     padding-right: 10px;
     padding-bottom: 20px;
     border-radius: 2%;
     border: 1px solid #d8dee2;
     text-align: left;
 }

 .errorBox {
  width: 300px;
  padding-left: 10px;
  padding-top: 20px;
  padding-right: 10px;
  padding-bottom: 20px;
  border-radius: 2%;
  border: 1px solid #d8dee2;
}

 .loginBox input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

.loginBox button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }

.loginBox button:hover {
    opacity: 0.8;
}