.mobileBar {
     width: 90%;
     height: 100px;
     position: relative;
     margin: 0% 5% 0% 5%;
     align-self: center;
  }

  .mobileBar .card {
    width: 100%;
    height: 100%;
  }

  .mobileBar .card .indicator {
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: absolute;
    box-sizing: border-box;
    z-index: 2;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    overflow: auto;
  }

  .mobileBar .card .offline {
    font-family: Georgia;
    font-size: 2em;
    text-align: center;
    line-height: 90px;
    background-color: #900000;
    border: 3px solid white;
    color: white;
  }

  .mobileBar .card .online {
    font-family: Georgia;
    font-size: 2em;
    text-align: center;
    line-height: 90px;
    background-color: #009000;
    border: 3px solid white;
    color: white;
  }