.option {
    float: left;
    height: 65px;
    width: 20%;
    margin: 3%;
    border-style: solid;
    border-color: black;
    position: relative;
    line-height: 180%;
    border-radius: 20%;
    background-color: cornflowerblue;
}

.option:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }