.option {
    float: left;
    width: 30%;
    height: 70px;
    border-style: solid;
    border-color: black;
    line-height: 180%;
    border-radius: 20%;
    background-color: cornflowerblue;
}

.option:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }